//
//
#section-pagination {
  margin-top: 20px;
  overflow: hidden;

  @media (max-width: 767px) {
    .pagination {
      display: block;
      font-size: 0;
      text-align: center;

      .page-item {
        display: inline-block;
        font-size: 14px;
      }

      @media (max-width: 450px) {
        .page-item:nth-of-type(7),
        .page-item:nth-of-type(8),
        .page-item:nth-of-type(9),
        .page-item:nth-last-of-type(2) {
          display: none;
        }

        .page-item:nth-of-type(3) {
          display: inline-block;
        }
      }
    }
  }
}


//
//
#section-breadcrumb {
  .breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}


//
//
.simditor-box {
  position: relative;
}


//
// simditor
.simditor {
  @include media-breakpoint-down(md) {
    z-index: 9999 !important;
  }

  .simditor-wrapper {
    .simditor-toolbar {
      @include media-breakpoint-up(md) {
        top: 51px !important;
      }
    }

    .simditor-body {
      height: 400px;
      overflow: scroll;
    }
  }
}

#section-textarea-login-tip {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 180px;
}

#section-comment-list {
  .list-group {
    .list-group-item {
      border-radius: 0;
      border-left: none;
      border-right: none;

      &:first-of-type {
        // border-top: none;
      }

      &:last-of-type {
        // border-bottom: none;
      }

      img.media-object {
        width: 51px;
      }

      .content {
        min-height: 2em;
      }

      .media-list {
        .media {
          img.media-object {
            width: 42px;
          }
        }
      }
    }
  }
}
