#section-mainbody.page-activity-index {
  .carousel {
    background-color: #555;

    .carousel-control-next, .carousel-control-prev {
      top: -50px !important;
    }

    .carousel-item {
      @media (max-width: 767px) {
        max-height: 200px !important;
      }

      text-align: center;
      max-height: 300px;

      img {
        min-width: 100%;
        min-height: 300px;
        background-color: #aaa;
      }

      .carousel-caption {
        h3 {
          a {
            color: #fff;
          }
        }
      }

      .carousel-caption-bg {
        position: absolute;
        width: 100%;
        top: 170px;
        height: 130px;
        background-color: #000;
        opacity: 0.1;
      }
    }

  }


  //
  // activity card
  #section-carousel {
    margin-bottom: 21px;
  }


  //
  // Pagination
  #section-pagination {
    .pagination {
      justify-content: center;
    }
  }
}


//
// activity card
#component-activity-card {
  margin-bottom: 20px;

  .box-pic {
    position: relative;
    max-height: 165px;
    overflow: hidden;

    .start-time {
      border-bottom-left-radius: 16px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px 10px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 6px 10px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;

      .date, .local {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .card-img-top {
      background-color: #ddd;
      min-height: 140px;
    }
  }

  .card-body {

    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
    }

    .card-text {
      height: 44px;
      overflow: hidden;
    }
  }
}
