#section-mainbody.page-timeline-index {
  #section-timeline-create-form {
    #area-images {
      img {
        width: auto;
        height: 40px !important;
        margin-right: 6px;
      }
    }
  }
}
